*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  border: 0px;
}
body{
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: black;
  justify-content: center;
  align-items: center;
  display: flex;
}
.main-container {
  background-color: green;
  color: white;
  height: 65vh;
  width: 25vw;
  min-width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px 7px #ff1818;
  overflow: hidden;
}
header.wrapper {
  background-color:  white;
}

header.wrapper h2{
color: black;
padding: 2rem 0 0 1rem;
font-size: 1.4rem;
}
.clock-container{
  padding: 40px 0 0 0;
}
.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
	animation: anim 30s infinite;
	background-image: linear-gradient(90deg, slateblue, HotPink);
	border-radius: 10% 20% 23% 17% / 16% 26% 34% 22%;
	box-shadow: 0 -2vmin 3vmin LightPink inset, 0 1vmin 4vmin MediumPurple inset,
		0 -2vmin 7vmin purple inset;
	content: "";
	filter: drop-shadow(0 0 1vmin Thistle) drop-shadow(0 2vmin 2vmin Orchid)
		drop-shadow(1vmin 2vmin 15vmin MediumSlateBlue)
		drop-shadow(0 0 1vmin MediumOrchid);
	height: 25vmin;
	width: 25vmin;
  min-width: 200px;
  min-height: 200px;
}

#time{
font-family: Orbitron;
font-size: 1.5rem;
color: LightPink;
font-weight: bold;
}
@keyframes anim {
	0%,
	100% {
		border-radius: 30% 70% 70% 30% / 30% 52% 48% 70%;
		box-shadow: 0 -2vmin 3vmin LightPink inset, 0 1vmin 4vmin MediumPurple inset,
			0 -2vmin 7vmin purple inset;
	}

	10% {
		border-radius: 50% 50% 20% 80% / 25% 80% 20% 75%;
	}

	20% {
		border-radius: 67% 33% 47% 53% / 37% 20% 80% 63%;
	}

	30% {
		border-radius: 39% 61% 47% 53% / 37% 40% 60% 63%;
		box-shadow: -1vmin -2vmin 3vmin LightPink inset,
			-1vmin -2vmin 4vmin MediumPurple inset, 1vmin -1vmin 7vmin purple inset;
	}

	40% {
		border-radius: 39% 61% 82% 18% / 74% 40% 60% 26%;
	}

	50% {
		border-radius: 100%;
		box-shadow: 0 2vmin 3vmin LightPink inset, 0 1vmin 4vmin MediumPurple inset,
			0 2vmin 7vmin purple inset;
	}

	60% {
		border-radius: 50% 50% 53% 47% / 72% 69% 31% 28%;
	}

	70% {
		border-radius: 50% 50% 53% 47% / 26% 22% 78% 74%;
		box-shadow: 1vmin 1vmin 4vmin LightPink inset,
			2vmin -1vmin 4vmin MediumPurple inset, -1vmin -1vmin 5vmin purple inset;
	}

	80% {
		border-radius: 50% 50% 53% 47% / 26% 69% 31% 74%;
	}

	90% {
		border-radius: 20% 80% 20% 80% / 20% 80% 20% 80%;
	}
}
